*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --dark-bg-color: #1F2937;
    --main-hero-text: #F9FAF8;
    --main-hero-text-weight: extra-bold;
    --main-hero-text-size: 48px;
    --hero-secondary-text-size: 18px;
    --hero-secondary-text-color: #E5E7EB;
    --header-logo-text-color: #F9FAF8;
    --header-logo-text-size: 24px;
    --button-color: #3882F6;
}
.hero{
    height: 100vh;
    background: var(--dark-bg-color);
    
}