*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.body{
}

:root{
    --dark-bg-color: #1F2937;
    --main-hero-text: #F9FAF8;
    --main-hero-text-weight: 900;
    --main-hero-text-size: 48px;
    --hero-secondary-text-size: 18px;
    --hero-secondary-text-color: #E5E7EB;
    --header-logo-text-color: #F9FAF8;
    --header-logo-text-size: 24px;
    --button-color: #3882F6;
    --call-to-action-bg-color: #3882F6;
    --page-width: 1400px;
    --info-header-text: #1F2937;
    --info-header-text-size: 36px;
    --info-header-text-weight: 900; 
}

/*+++++++++++++++++ HERO-SECTION +++++++++++++++ */
.hero{
    height: 100vh;
    background: var(--dark-bg-color);
    display: flex;
    flex-direction: column;
}

header{
    width: var(--page-width);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icon{
    font-size: var(--header-logo-text-size);
    color: var(--header-logo-text-color);
    font-weight: 900;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 500px;

}

ul a{
    text-decoration: none;
    color: var(--hero-secondary-text-color);
    font-size: var(--hero-secondary-text-size)
}

.hero-content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.hero-content{
    display: flex;
    width: var(--page-width);
    margin: 0 auto;
}

.hero-content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    padding-right: 100px;
    width: 50%;
}

.hero-content-left h1{
    color: var(--main-hero-text);
    font-size: var(--main-hero-text-size);
    font-weight: var(--main-hero-text-weight);
}

.hero-content-left p{
    color: var(--hero-secondary-text-color);
    font-size: var(--hero-secondary-text-size);
}

.hero-content-left .sign-up-button{
    padding: 10px;
    width: 100px;
    background: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.hero-content-left .sign-up-button:hover{
    cursor: pointer;
}

.hero-content-left .sign-up-button a{
    text-decoration:none;
    color: var(--hero-secondary-text-color);
}

.hero-content-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: rgba(128, 128, 128, 0.445);
    color: var(--main-hero-text)
}

/* ++++++++++++++++  INFO_SECTION +++++++++++++++  */


.info-section{
    height: 80vh;
    padding-top: 70px;
    width: var(--page-width);
    margin: 0 auto;
}

.info-section h2{
    color:var(--info-header-text);
    font-size: var(--info-header-text-size);
    font-weight:var(--info-header-text-weight);
    text-align: center;
    margin-bottom: 80px;
}

.info-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    row-gap: 10px;
}

.card-image{
    width: 200px;
    height: 200px;
    border: 4px solid var(--button-color);
    border-radius: 15px;
}

.card p{
    font-size: var(--hero-secondary-text-size);
    color: var(--info-header-text);
    line-height: 1.6rem;
    text-align: center;
}